body{
    font-family: Roboto, sans-serif;
}

#rotas,
#fale-conosco{
    background-color: rgba(1, 100, 194, 0.1);
}

.section-title{
    font-family: Agbalumo, cursive;
}

.navbar{
    background-color: #0164c2;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-link.active:hover{
    color: #fff;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color:#ead24f;
}

.text-colored-t {
    color:  #ead24f;
}

.text-colored {
    color: #0164c2;
} 

.carousel-item img {
    height: 700px;
    width: 100%;
}

#img-rotas{
    height: 250px;
    width: 100%;
}

.btn-paradas{
    color: #fff;
    background-color: #0164c2;
}

.btn-paradas:hover{
    background-color: #ead24f;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    .btn-paradas {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #fazendinha-rotas,
    #coração-rotas,
    #km09-rotas {
        padding-bottom: 20px;
    }
}
